<!-- home.html -->
    <div class=" text-center" ng-controller="buildingController as controller">
        <h1>Buildings</h1>
        	
        	<table class="table" >
		    			<th>Name</th>
		    			<th>Cluster</th>
		    			<th>Archetype</th>
		    			<th>#</th>
		    			<th>Benchmark Group</th>
		    			<th>Benchmark</th>
		    			<th>Fuel</th>
		    			<th>Generation</th>

		    			<tr ng-repeat='data in buildings' >
		    				<td><input type="text" value='{{data.id}}'></input></td>
			    			<td><select	ng-options="name for name in clusterslist " ng-model="data.cluster"> <option value="">-- Select Cluster --</option></select></td>
				    		<td><select ng-options="arch.name for arch in archetypes" ng-model="data.archetype"> <option value="">-- Select Archetype --</option></select></td>
				    		<td><input type="text" maxlength="4" size="4" ></input></td>
				    		<td>  		
				    		{{data.archetype.benchmark_group}}	
				    		</td>
				    		<td>
				    		<select ng-show='data.archetype.benchmark_group' ng-options="bench.Type for bench in benchmarks | filter:{Benchmark:data.archetype.benchmark_group}" ng-model="data.benchmark"></select></td>
				    		<td><input type="text" maxlength="5" size="5"></input></td>
				    		<td><input type="text" maxlength="2" size="2"></input></td>
				    		<td><button ng-click="removeBuilding($index)">X</button></td>
				    	</tr>
			    		
		    		</table>
        	
       <button id="add_buildings"  ng-click="addBuilding()">Add</button> 

       

    </div>