<!-- home.html -->
    <div class=" text-center" ng-controller="buildingController as controller">
        <h1>Buildings</h1>
        	
        	<table class="table" >
		    			<th>Name</th>
		    			<th>Cluster</th>
		    			<th>Archetype</th>
		    			<th>#</th>
		    			<th>Benchmark Group</th>
		    			<th>Benchmark</th>
		    			<th>Fuel</th>
		    			<th>Generation</th>

		    			<tr ng-repeat='data in buildings' >
		    				<td><input type="text" value='{{data.id}}'></input></td>
			    			<td><select	ng-options="name for name in clusterslist " ng-model="data.cluster"></select></td>
				    		<td><select ng-options="arch.name for arch in archetypes" ng-model="data.archetype"></select></td>
				    		<td><input type="text" maxlength="4" size="4" ></input></td>
				    		<td>  		
				    		{{data.archetype.benchmark_group}}
				    			<select ng-options="bench for bench in benchmark_grouplist" ng-model="data.benchmark_group"></select>
				    			
				    			<!-- <select ng-change="DropDownChanged($index)">
				    				<option ng-repeat='bmg in benchmark_grouplist' ng-selected='bmg===data.archetype.benchmark_group'>{{bmg}}</option>
				    			</select> -->
				    			
				    		</td>
				    		<td>
				    		<select ng-options="bench.Type for bench in benchmarks | filter:{Benchmark:data.archetype.benchmark_group.Benchmark}" ng-model="data.benchmark"></select></td>
				    		<td><input type="text" maxlength="5" size="5"></input></td>
				    		<td><input type="text" maxlength="2" size="2"></input></td>
				    		<td><button ng-click="removeBuilding($index)">X</button></td>
				    		<td>{{data}}
			    		</tr>
			    		
		    		</table>
        	
       <button id="add_buildings"  ng-click="addBuilding()">Add</button> 

       

    </div>